@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 20px;
  color: #3e5f44;
}

h2 {
  color: #3e5f44;
  font-size: 2rem;
  padding-bottom: 10px;
}

h3 {
  color: #3e5f44;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #90c26c, #e8ffd7);
}

.container-main {
  background-color: white;
  padding: 30px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-height: 100vh;
  width: 90%;
  /*  grid-template-areas:
    "header header "
    "balance balance"
    "track add"; */
}

.header {
  grid-area: header;
}

.balance-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(50deg, #e8ffd7, #90c26c);
  margin-bottom: 20px;
  /*   grid-area: balance; */
}

.balance-container-a {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.income-container,
.expense-container {
  text-align: center;
  padding: 10px;
  flex: 1 0 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.income-container,
#income {
  color: #3e5f44;
}

.expense-container,
#expense {
  color: rgb(255, 138, 138);
}

.cash-text {
  font-size: 1.3rem;
}

.container-a {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.track-container {
  background-color: #e8ffd7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
}

.track-container-a {
  background-color: white;
  min-height: 300px;
  max-height: 80%;
  border-radius: 10px;
  gap: 5px;
  padding: 5px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #90c26c;
  border-radius: 5px;
  background-color: #e8ffd7;
  color: #5e936c;
}

.trans-color {
  background-color: red;
  width: 10px;
}

.transaction-management {
  border-radius: 0 0 10px 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
}

.selection-container {
  display: flex;
  align-items: stretch;
  border-radius: 5px 5px 0 0;
  background-color: #e8ffd7;
}

.add-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e8ffd7;
}

.trans-item {
  flex: 1 0 300px;
}

.transactin-positive {
  gap: 10px;
  flex: 1;
  background-color: white;
  display: none;
  flex-direction: column;
  overflow: visible;
}

.transaction-negative {
  gap: 10px;
  flex: 1;
  background-color: white;
  display: none;
  flex-direction: column;
  overflow: visible;
}

.active {
  display: flex;
}

.input-label {
  display: flex;
  flex-direction: column;
  color: #5e936c;
}

input {
  padding: 5px;
  border: 1px solid #5e936c;
  border-radius: 4px;
}

#transaction-btn {
  color: #3e5f44;
  border: none;
  padding: 10px;
  background: linear-gradient(90deg, #e8ffd7, #90c26c, #e8ffd7);
  border-radius: 4px;
}

.item {
  flex: 1 1 100px;
  border: none;
  padding: 2px;
  background-color: #e8ffd7;
  cursor: pointer;
  color: #5e936c;
}

.item:hover {
  background-color: white;
}
.item-active {
  background-color: white;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: 5e936c;
}
